<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/SPB_OSMP?useUnicode=true&amp;characterEncoding=utf8</property>
        <property name="connection.username">melpholan</property>
        <property name="connection.password">1</property>
        <!--<property name="default_schema"></property>   -->
        <property name="show_sql">true</property>
        <property name="connection.pool_size">1</property>
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="current_session_context_class">thread</property>
        <property name="hbm2ddl.auto">update</property>
        

        <mapping class="ru.melpholan.entity.Personal"/>
        <mapping class="ru.melpholan.entity.Adreses"/>
        <mapping class="ru.melpholan.entity.Contacts"/>
        <mapping class="ru.melpholan.entity.Shifts"/>
        <mapping class="ru.melpholan.entity.Passport"/>
        <mapping class="ru.melpholan.entity.Shifts"/>
        <mapping class="ru.melpholan.entity.ShiftTypes"/>
        <mapping class="ru.melpholan.entity.DoctorsErrors"/>
        <mapping class="ru.melpholan.entity.GroupResultOfDoctorsCalls"/>
        <mapping class="ru.melpholan.entity.ResultOfDoctorsCalls"/>
        <mapping class="ru.melpholan.entity.Calls"/>


    </session-factory>

</hibernate-configuration>